
/* top-heading */

body{
 background:rgb(241, 241, 241);
}

header{
background-color:antiquewhite;
width: 720px;
height: 400px;
z-index: -1;
}

.black{
 position: absolute;
 top: -20px;
 width: 700px;
 height: 110px;
 left: 40px;
 z-index: 1;
}

.deli{
 position: absolute;
  font-size: 25px;
  top: 10px;
  left: 370px;
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
  color: antiquewhite;
  z-index: 1;
 }

.Heading ul{
   position: absolute;
   display: flex;
   top: 30px;
   left: 170px;
   list-style-type: none;
   font-size: 20px;
   z-index: 1;
}

.Heading  ul li{
  display: inline-block;
} 

.Heading  ul li a{
  display:flex;
  text-decoration: none;
  text-align: center;
  padding: 10px;
 color:rgb(19, 177, 40); 
} 

.Heading li a:hover{
  color: rgba(218, 71, 13, 0.938);
} 

.social{
   display: inline-flex;
   position: absolute;
   left: 340px;
   top: 65px; 
   z-index: 1;
}

.social .Instagram{
 width: 12px;
 height: 12px;
 padding: 5px;
}

.social .facebook{
 width: 12px;
 height: 12px;
 padding: 5px;
}

.social .youtube{
 width: 12px;
 height: 12px;
 padding: 5px;
}

.quality{
  margin-top: 3px;
  margin-left: 4px;
  font-size: 13px;
  color: aliceblue;
}

/*first page */

.dark{
 position: absolute;
 left:-40px;
 top: -12px;
 width: 900px;
 height: 412px;
}

.learn{
 position: absolute;
 left: 550px;
 top: 110px;
 font-size: 28px;
 font-weight: 100;
 font-family:system-ui;
}

.chocolate{
 position: absolute;
 left: 560px;
 top: 200px;
 font-size: 25px;
 font-weight: 100px;
 font-family:'poppins';
}

.chocolate a{
  position: absolute;
  top: 110px;
  text-decoration: none;
  background-color: rgba(241, 113, 67, 0.897);
  color: antiquewhite;
  padding: 2px 5px;
  border-radius: 5px;   
}

/*second page*/

.second{
 position: relative;
 background-color:antiquewhite;
 height: 400px;
}

.Rectanglewhite{
 position: absolute;
 top: 20px;
 left: 100px;
 width: 700px;
 height: 350px;
}

.rose{
  position: absolute;
  top: 20px;
  left: 450px;
  width: 350px;
  height: 350px;
  z-index: 1;
 }

.Health{
 position: absolute;
 top: 40px;
 left: 150px;
 letter-spacing: 3px;
 font-size: 25px;
 font-weight: bolder;
}

.taste{
 position: absolute;
 top: 70px;
 left: 150px;
 font-size: 20px;
 font-weight: 700;
}

.Lorem{
 position: absolute;
 top: 125px;
 left: 150px;
 width: 330px;
 font-size: 18px;
 font-weight: 300;
}

.traditional{
 position: absolute;
 top: 200px;
 left: 150px;
 font-size: 15px;
 font-weight: 700;
}

.second ul{
 display: block;
 position: absolute;
 top: 240px;
 left: 180px;
 font-size: 15px; 
}

.second ul li:hover{
color: cornsilk;
}

.second input[type=button]{
 position: absolute;
 top: 320px;
 left: 200px;
 font-size: 15px;
 background-color: rgba(241, 113, 67, 0.897);
 border:rgba(241, 113, 67, 0.897);
 border-radius: 10px;
 padding: 5px 10px;
}

.lity{
 position: absolute;
 top: 370px;
 left: 350px;
 font-size: 20px;
}


/* third page */

.third{
position: relative;
background-color:antiquewhite;
height: 400px;
}

.mixy{
position: absolute;
margin-left: -15px; 
width: 900px; 
height: 400px;
} 

.courses{
 position: absolute;
 top: 70px;
 left: 500px;
 font-size: 30px;
 z-index: 1;
}

.courses strong{
position: absolute;
top: -8px;
font-size: 35px;
}

.lom{
 position: absolute;
 top: 340px;
 left: 490px;
 width: 500px;
 font-size: 18px;
 z-index: 1;
}

/* fourth page */

.fourth{
 position: relative;
 background-color:antiquewhite;
 height: 400px;
 z-index: -1;
}

.white{
 position: absolute;
 top: 20px;
 left: 100px;
 width: 700px;
 height: 350px;
 z-index: -1;
}

.break{
 position: absolute;
 top: 45px;
 left: 122px;
 width: 300px;
 height: 300px;
}

.Bever{
  position: absolute;
  top: 65px;
  left: 470px;
  font-size: 30px;
}

.Bever b{
  position: absolute;
  top: -30px;
  left: 0px;
  font-size: 30px;
}

.given{
  position: absolute;
  top: 290px;
  left: 430px;
  width: 360px;
  font-size: 15px;
}  


/* fifth page */

.fifth{
position: relative;
background-color:antiquewhite;
height: 400px;
}

.image2{
 position:absolute;
 top: 0;
 right: 0;
 height: 400px;
}

.sugar{
 position: absolute;
 top: 100px;
 left: 30px;
 font-size: 50px;
 font-weight: bold;
}

.sugar strong{
 position: absolute;
 top: -50px;
 left: 0px;
 font-size: 45px;
 font-weight: lighter;
}

div >p{
 position: absolute;
 top: 250px;
 left: 50px;
 width: 400px;
 font-size: 25px;
 z-index: 1;
}

/* sixth page */

.sixth{
position: relative;
background-color:antiquewhite;
height: 400px;
}

.Rectangle{
 position: absolute;
 top: 20px;
 left: 100px;
 width: 700px;
 height: 350px;
}

.nurse{
 position: absolute;
 top: 20px;
 left: 450px;
 width: 350px;
 height: 350px;
 z-index: 1;
}

.more{
 position: absolute;
 top: 40px;
 left: 140px;
 width: 150px;
 font-size: 30px;
}

.passinate{
 position: absolute;
 top: 110px;
 left: 130px;
 width: 280px;
 font-size: 20px;
 font-weight: lighter;
}

.per{
 position: absolute;
 top: 160px;
 left: 130px;
 width: 330px;
 font-size: 13px;
}

.para{
 position: absolute;
 top: 220px;
 left: 130px;
 width: 330px;
 font-size: 13px;
}

.sixth input[type=button]{
 position: absolute;
 top: 285px;
 left: 180px;
 font-size: 13px;
 background-color: rgba(241, 113, 67, 0.897);
 border:rgba(241, 113, 67, 0.897);
 border-radius: 5px;
 padding: 1px 15px;  
}

.bottom{
 position: absolute;
 top: 310px;
 left: 130px;
 width: 300px;
 font-size: 13px;
}

/* seventh page */

.seventh{
 position: relative;
 background-color:antiquewhite;
 height: 400px;
}

.angle{
 position: absolute;
 top: 25px;
 left: -100px;
 width: 650px;
 height: 350px;
}

.hand{
 position: absolute;
 top: 25px;
 left: 280px;
 width: 280px;
 height: 350px;
}

.seasonal{
 position: absolute;
 top: 25px;
 left: 20px;
 font-size: 30px;
 width: 300px;
}

.little{
 position: absolute;
 top: 90px;
 left: 20px;
 width: 200px;
 font-size: 25px;
}

.dolo{
 position: absolute;
 top: 160px;
 left: 20px;
 width: 260px;
 font-size: 15px;
}

.seventh ul{
    position: absolute;
    top: 260px;
    left: 50px;
    list-style-type:disc;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.seventh input[type=submit]{
 position: absolute;
 top: 330px;
 left: 50px;
 font-size: 15px;
 background-color: rgba(241, 113, 67, 0.897);
 border:rgba(241, 113, 67, 0.897);
 border-radius: 5px;
 padding: 1px 10px;

}

.for{
 position: absolute;
 top: 30px;
 left: 600px;
 font-size: 35px;
}

.accompany{
 position: absolute;
 top: 70px;
 left: 600px;
 width: 300px;
 font-size: 23px;
}

.cakepic{
 position: absolute;
 top: 140px;
 right: 200px;
 width: 100px;
 height: 90px;
 border-radius: 10px;
}

.chocopic{
 position: absolute;
 top: 250px;
 right: 200px;
 width: 100px;
 height: 90px;
 border-radius: 10px;
}

.seventh input[type=button]{
 position: absolute;
 top: 350px;
 right: 80px;
 font-size: 20px;
 color: antiquewhite;
 background-color: rgba(26, 19, 17, 0.897);
 border:rgba(24, 15, 12, 0.897);
 border-radius: 1px 10px;
 padding: 3px 10px;
}

.myorder{
position: absolute;
 top: 140px;
 left: 750px;
 font-size: 15px;
 text-decoration: underline;
}

.order{
position: absolute;
 top: 250px;
 left: 750px;
 font-size: 15px;
 text-decoration:underline;
}

/* eight */

.eight{
position: relative;
background-color:antiquewhite;
height: 400px;
}

.delibreak{
 position: absolute;
 top: 60px;
 left: 250px;
 font-size: 60px;
 letter-spacing: 10px;
}

.fav{
 position: absolute;
 top: 140px;
 left: 180px;
 width: 550px;
 font-size: 30px;
}

.sign{
 position: absolute;
 top: 190px;
 left: 380px;
 font-size: 25px;
}

.loem{
 position: absolute;
 top: 250px;
 left: 150px;
 width: 600px;
 font-size: 20px;
}

.star1{
 position: absolute;
 top: 0;
 left: 50px;
 width: 700px;
 height: 380px;
}

/* nine */

.nine{
 position: relative;
 background-color: antiquewhite;
 height: 400px;
}

.blacktwo{
 position: absolute;
 bottom: -100px;
 width: 700px;
 margin-left: 100px;
 z-index: 1;
}

.dei{
 position: absolute;
  font-size: 45px;
  top: 110px;
  left: 250px;
  letter-spacing: 5px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(209, 121, 7);
  z-index: 1;
}

.quaty{
    position: absolute;
    top: 165px;
    left: 290px;
    font-size: 18px;
    color: aliceblue;
    z-index: 1;
}

 .soial{
    display: inline-flex;
    position: absolute;
    top: 210px;
    left: 190px; 
    z-index: 1;
    
}

.soial .Instagram{
  width: 20px;
  height: 20px;
}

.soial .facebook{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.soial .youtube{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.nine ul{
   position: absolute;
   top: 250px;
   left: 150px;
   list-style-type: none;
   font-size: 20px;
   z-index: 1;
}

.nine  ul li{
  display: grid;
} 

.nine  ul li a{
  display: grid;
  text-decoration: none;
  text-align: left;
  padding: 1px;
 color:rgb(187, 207, 189); 
} 

.nine li a:hover{
  color: rgba(26, 178, 189, 0.938);
} 

.nine ol{
  position: absolute;
  top: 250px;
  left: 300px;
  list-style-type: none;
  font-size: 20px;
  z-index: 1;
}

.nine ol li{
 display: grid;
} 

.nine ol li{
 display: grid;
 text-decoration: none;
 text-align: left;
 padding: 1px;
 color:rgb(180, 194, 181); 
} 

.nine li a:hover{
 color: rgba(26, 178, 189, 0.938);
} 

.news{
 position: absolute;
 top: 220px;
 left: 520px;
 font-size: 20px;
 color: aliceblue;
 z-index: 1;
}

.nine input[type=text]{
 position: absolute;
 top: 290px;
 left: 520px;
 width: 170px;
 border-radius: 8px;
 border-color: antiquewhite  ;
 font-size: 10px;
 padding: 5px 10px;
 z-index: 1;
}

.nine input[type=email]{
  position: absolute;
  top: 330px;
  left: 520px;
  width: 170px;
  border-radius: 8px;
  border-color: antiquewhite  ;
  font-size: 10px;
  padding: 5px 10px;
  z-index: 1;
}

.nine input[type=submit]{
  position: absolute;
  top: 380px;
  left: 540px;
  width: 160px;
  border-radius: 8px;
  border-color: antiquewhite  ;
  font-size: 10px;
  padding: 5px 10px;
  z-index: 1;
}


@media  screen and(max-width:480px) {
    body{
        width: 100%;
    }
}

